doctype html
html
    head
        title= title
        link(rel="stylesheet", href="bootstrap.min.css")
    body
        .container-fluid
            .row
                .col-md-4
                .col-md-4
                    h1= "You need a contract to be able to use this section"
                    a(href="/").btn.btn-primary= "Send me back"
                .col-md-4