doctype html
html
    head
        title= title
        link(rel="stylesheet", href="bootstrap.min.css")
    body
        .container-fluid
            .row
                .col-md-4
                .col-md-4
                    h1= `Creating contract with the following information...`
                .col-md-4
            .row
                .col-md-4
                .col-md-4
                    h2= `Contractor name: ${contractor}`
                    h3= `address: ${contractorAddress}`
                .col-md-4
            .row
                .col-md-4
                .col-md-4
                    h2= `Worker name: ${worker}`
                    h3= `address: ${workerAddress}`
                .col-md-4
            .row
                .col-md-6.text-center
                    a(href="/manageContract").btn.btn-primary= "Manage deployed Contract"
                .col-md-6