html
    head
        title= title
        link(rel="stylesheet", href="bootstrap.min.css")
    body
        .container-fluid
            .row
                .col-md-4
                .col-md-4.text-center
                    h1= header
                .col-md-4
            .row
                .col-md-3
                .col-md-6
                    form(action="/createContract", method="post")
                        .form-row
                            .col
                                label(for="contractorName")= "Contractor"
                                input(type="text", name="contractorName", id="contractorName", placeholder="Enter your name", class="form-control", required)
                            .col
                                label(for="contractorAddress")= 'Contractor account address'
                                input(type="text", name="contractorAddress", id="contractorAddress", placeholder="Enter your address", class="form-control", required)
                        .form-row
                            .col
                                label(for="workerName")= "Worker"
                                input(type="text", name="workerName", id="workerName", placeholder="Enter the worker's name", class="form-control", required)
                            .col
                                label(for="workerAddress")= "Worker account address"
                                input(type="text", name="workerAddress", id="workerAddress", placeholder="Enter the worker's address", class="form-control", required)
                        .form-row
                            .col
                                button(type="submit", class="btn btn-primary")= "Create contract"
                .col-md-3
            .row
                .col-md-6
                    a(href="/about")= 'About section'
                .col-md-6