doctype html
html
    head
        title= title
        link(rel="stylesheet", href="bootstrap.min.css")
    body
        .container-fluid
            .row
                .col-md-3
                .col-md-6
                    h2= "Contract deployed to the following address"
                    h3= contractAddress
                .col-md-3
            .row
                .col-md-3
                .col-md-6
                    .row
                        .container-fluid.text-center
                            h2= "The following methods are available"
                    .row
                        .col-md-4
                        .col-md-4
                            ul
                                li= "setWorker(workerAddress) <Escrow only, set a new worker (replace the previous one)>"
                                li= "withdrawPayment() <Worker only, withdraw the payment deposited by the contractor>"
                                li= "depositPayment() <Contractor only, deposit the payment for the worker to withdraw>"
                                li= "setEstipulatedAmount() <defaults to 1ETH, Contractor only>"
                                li= "refundPendingPayments() <Escrow only, sends payments back to Contractor>"
                                li= "checkBalance() <Escrow only, check current contract balance>"
                        .col-md-4
                .col-md-3